.pro-card{
  transition: all 0.3s ease-in-out;
}

.pro-card .main-img{
  height: 350px;
  transition: all 0.3s ease-in-out;
}

.pro-card .socials{
  opacity: 0;
  transition: all 0.3s ease-in-out;
}

.pro-card:hover .socials{
  opacity: 100;
}

.pro-card:hover .main-img{
  cursor: pointer;
  height: 310px;
}


.bg-color{
  background-color: rgb(71,32,0);
  color: white;
}


.sub-title{
  color: white !important;
}


.get-touch-container{
  background-image: url('https://i.postimg.cc/9fLSmt3w/pixelcut-export-1.png');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

.trendy-collection-container{
  background-image: url('https://i.postimg.cc/jd7XT1Wn/newRose.jpg'); 
  background-attachment: fixed;
  background-repeat: "no-repeat";
  background-position: 'center';
  background-size:"cover";
  min-height: 450px;
}

@media(max-width:480px){
  .get-touch-container{
    background-position-x: -160px;
  }
  .pro-card .main-img{
    height: 180px;
  }
  .pro-card:hover .main-img{
    cursor: pointer;
    height: 140px;
  }
}

@media(max-width:400px){
  .get-touch-container{
    background-position-x: -160px;
  }
  .trendy-collection-container{
    background-position-y: -150px;
    background-position-x: -100px;
    min-height: 400px;
  }
}

@media(max-width:380px){
  .pro-card .main-img{
    height: 150px;
  }
  .pro-card:hover .main-img{
    cursor: pointer;
    height: 110px;
  }
}